@use "_reset.scss";
@use "_userLinks.scss";
@use "_generateLink.scss";
@use "_aside.scss";
@use "_resultLink.scss";
@use "_linkInfo.scss";
@use "_adaptation.scss";
body {
     background-color: rgb(222, 222, 222);
}
.wrapper {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
}
